.tabs__control {
  display: inline-block;
  padding: 3px 10px;
  background-color: #1b58a9;
  color: #fff;
  text-decoration: none;
  border-top-left-radius: 10px;
}
.tabs__control_active {
  background-color: #3276cf;
}
.tabs__control:hover,
.tabs__control:focus {
  background-color: rgba(26, 101, 174, .7);
  outline: none;
}
.tabs__panel {
  display: none;
  padding: 10px;
  background-color: #1a65ae;
  color: #fff;
}
.tabs__panel_active {
  display: block;
}